{{template "header.html" .}}
<script type="text/javascript">
	function dlt (file) {
		$.ajax({
		 url: '/delfile/'+file,
		 type: 'DELETE',
		 success: function(result) {
		  // Do something with the result
		  // alert(result);
		  window.location.href = "/list/a";
		 }
		});
	}

  function down (file) {
    window.location.href = '/download/'+file;
  }

  function up (file) {
      	window.location.href = '/upload/'+file;
  }

</script>
<br>
<br>
 <div class="container projects">
    <div class="row">
      {{range .dirs}}
            <div class="col-sm-3 col-md-2 col-lg-2">
            <div class="thumbnail">
              <a href="/list/{{.}}">{{.}}</a><br><hr>
                <label onclick="up({{.}})">UPLOAD</label><hr>
                <label onclick="dlt({{.}})">DELETE</label>
            </div>
          </div>
      {{end}}
	</div>
    <div class="row">
      {{range .fileviews}}
            <div class="col-sm-2 col-md-6 col-lg-6">
            <div class="thumbnail">
              <a href="/loadfile/{{.Name}}">{{.Name}}</a>
              	<hr>
              	<label onclick="down({{.Name}})">DOWNLOAD</label><hr>
                <label onclick="dlt({{.Name}})">DELETE</label><hr>
              <textarea cols="60" rows="10">{{.Content}}</textarea>
            </div>            
          </div>
      {{end}}
	</div>
</div>

{{template "footer.html" .}}